/* Footer.css */
.footer {
  background-color: black;
  color: white;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  position: fixed; /* 화면 상단에 고정 */
}

.footer_left,
.footer_turtle,
.footer_right {
  display: flex;
  align-items: center;
}

.footer_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  margin: 0 16px;
  position: relative;
}

.footer_arrowHead {
  position: absolute;
  left: 0;
  top: -8px;
  font-size: 1.25rem;
  color: white;
}

.footer_line {
  width: 100%;
  height: 3px;
  background-color: white;
}

.footer_left {
  margin-left: 15px;
}

.footer_turtle {
  margin-right: 15px;
}

.footer_image {
  height: 2.5rem; /* 이미지의 높이 지정 */
}

@media (max-width: 480px) {
  .footer_turtle {
    height: 10px;
  }

  .footer_image {
    height: 2rem; /* 이미지의 높이 지정 */
  }
}
