body {
  background-color: black;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.black-section {
  height: 55%;
  background-color: black;
}

.yellow-section {
  height: 3%;
  background-color: #fffd96;
  border: 2px solid black;
  border-left: none;
  border-right: none;
}

.grid-section {
  height: 45%;
  background: linear-gradient(
      45deg,
      #0ffb3f 25%,
      transparent 25%,
      transparent 75%,
      #0ffb3f 75%
    ),
    linear-gradient(
      45deg,
      #0ffb3f 25%,
      transparent 25%,
      transparent 75%,
      #0ffb3f 75%
    );
  background-color: white;
  background-size: 180px 180px;
  background-position: 0 0, 90px 90px;
}

.circle-section {
  width: 100%;
  top: -23px;
  left: 51%;
  position: absolute;
  transform: translateX(-50%);
  display: flex;
}

.circle {
  width: 35px;
  height: 35px;
  background-color: #0ffb3f;
  border-radius: 50%;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

.slot-machine {
  position: absolute;
  width: 80%;
  height: 65%;
  background-color: black;
  border: 15px solid white;
  outline: 2px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inner-contents {
  width: 380px;
  height: 420px;
  margin-top: 10px;
}

.machine-frame {
  height: auto;
  margin: 10px 10px 10px 10px;
}

.machine-frame-img {
  width: 100%;
  height: auto;
  display: block;
}

.game-detail {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.detail-frame {
  flex: 1; /* 동일한 비율로 공간 분배 */
  margin: 0 5px; /* 프레임 간 간격 추가 */
}

.detail-frame-img {
  width: 95%;
  height: auto;
  object-fit: contain;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .grid-section {
    height: 40%;
    background-size: 140px 140px;
    background-position: 0 0, 70px 70px;
  }
}

@media (max-width: 480px) {
  .grid-section {
    height: 40%;
    background-size: 120px 120px;
    background-position: 0 0, 60px 60px;
  }

  .circle {
    width: 21px;
    height: 21px;
    font-size: 6px;
  }

  .circle-section {
    left: 53%;
    top: -16px;
  }

  .slot-machine {
    border: 10px solid white;
  }

  .inner-contents {
    margin-top: 45px;
  }
}
